.new-client {
  padding-top: 40px;

  .align-with-title {
    margin-top: 22px;
  }

  .base-field-textarea {
    height: 94px;
  }

  .button {
    float: right;
  }
}

.new-company {
  padding-top: 18px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;

  .base-field-textarea {
    height: 154px;
  }

  .button {
    float: right;
  }
}

.form {
  h3 {
    text-transform: uppercase;
    font-weight: 300;
  }

  .contextual-controls {
    opacity: 1;
    left: -50px;
  }

  .table-list-add {
    width: 100%;
    margin-bottom: 20px;
    tr {
      border-bottom: 1px solid rgba(black, .1);
    }
    td {
      input {
        border: 0;
        cursor: text;
      }

    }
  }
}
