.new-client {
  padding-top: 40px;

  .align-with-title {
    margin-top:22px;
  }

  .base-field-textarea {
    height: 94px;
  }

  .button {
    float: right;
  }
}


.new-company {
  padding-top: 18px;
  max-width: 600px;
  margin: 0 auto;

  .base-field-textarea {
    height: 154px;
  }

  .button {
    float: right;
  }
}