a {
  color: currentColor;
  text-decoration: none;
}

body {
  letter-spacing: .5px;
  color: rgba(black, .5);
  font-family: 'proxima-nova-soft', sans-serif;
  font-weight: 400;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

.small-header {

  h1 {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
  }

  .top-nav {
    text-align: right;
  }

  .button:hover {
    background-color: $main-color;
    color: white;
  }
}

