.panels {
  display: flex;
  
  &__aside {
    width: 210px;
    height: 100vh;
    flex: 0;
  }

  &__main {
    flex: 1;
  }
}

.homepage-header {
  background-color: rgba(black, .03);
  display: flex;
  width: 210px;
  flex-direction: column;
  height: 100vh;

  h1 {
    padding: 30px 45px 30px 10px;
    margin: 0;
    text-align: right;

    a {
      text-decoration: none;
      // color: white;
    }
  }

  img {
    height: 10vh;
  }

  &__logo {
    padding: 30px;
  }

  &__dashboard {
    flex: 1;
  }

  &__extra {
    height: auto;
    text-align: right;
    padding-bottom: 30px;

    a {
      padding: 10px 20px;
      color: rgba(black, .3);
      display: block;

      &:hover {
        background-color: rgba(black, .1);
      }
    }
  }
}

.logged-in {

}






.base-form {
  margin-top: 60px;
}

.flex-wrapper { display: flex; }
.flex-item {flex: 1;}

.main-list,
.client-list {
  padding-top: 105px;
}

.divider {
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  font-size: 20px;
  color: rgba(black, .5);
}

.wrapper {
  width: 100%;
  max-width: 860px;
  padding-left: 115px;
  padding-right: 115px;
  margin: 0 auto;
}
