{% extends '_base.html' %}
{% set company = companies[0] %}
{% block body_class %}home-page{% endblock %}
{% block content %}


<section class="main-list wrapper">
  <table class="list">
    <thead>
      <th class="status"></th>
      <th>Client</th>
      <th>Contact</th>
      <th>email</th>
      <th class="amount">Amount</th>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td class="status"><i class="material-icons">done_all</i></td>
          {# This icon changes to "close", if there are pending invoices for this client #}
          <td><a href="#">{{client.name}}</a></td>
          <td>{{client.contact}}</td>
          <td>{{client.email}}</td>
          <td class="amount">{% if client.currency %} {{ client.currency }} {% else %} {{ company.currency }} {% endif %} 99.000</td>
          {# This shows the amount invoiced to that client #}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>



{% endblock %}