{% extends '_base.html' %}
{% set company = companies[0] %}
{% block body_class %}home-page{% endblock %}
{% block content %}


<section class="main-list wrapper">
  <table class="list">
    <thead>
      <th></th>
      <th>#</th>
      <th>Date</th>
      <th>Client</th>
      <th>Title</th>
      <th class="amount">Amount</th>
      <th></th>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        {% if not(invoice.paid) %}
        <tr>
          <td><i class="material-icons">check_box_outline_blank</i></td>
          <td><a href="./invoice.html">2016{{loop.index}}</a></td>
          <td>{{invoice.date | truncate(5, False, '')}}</td>
          <td>{{invoice.client}}</td>
          <td>{{invoice.service_title}}</td>
          <td class="amount">{% if invoice.currency %} {{ invoice.currency }} {% elif client.currency %} {{ client.currency }} {% else %} {{ company.currency }} {% endif %} {{invoice.amount}}</td>
          <td><i class="material-icons">print</i></td>
          {# Use this plugin to download the PDF https://github.com/MrRio/jsPDF / https://parall.ax/products/jspdf# #}
        </tr>
        {%endif%}
      {% endfor %}
    </tbody>
  </table>
  
  <h1 class="divider">Archived Invoices</h1>
  <table class="list list--archived">
    <thead>
      <th>#</th>
      <th>Date</th>
      <th>Client</th>
      <th>Title</th>
      <th class="amount">Amount</th>
      <th></th>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        {% if invoice.paid %}
        <tr>
          <td><i class="material-icons">check_box</i></td>
          <td><a href="./invoice.html">2016{{loop.index}}</a></td>
          <td>{{invoice.date | truncate(5, False, '')}}</td>
          <td>{{invoice.client}}</td>
          <td>{{invoice.service_title}}</td>
          {# This needs to match the client name in the invoice and the client name in the client DB #}
          <td class="amount">{% if invoice.currency %} {{ invoice.currency }} {% else %} {{ company.currency }} {% endif %} {{invoice.amount}}</td>
          <td><i class="material-icons">print</i></td>
        </tr>
        {%endif%}
      {% endfor %}
    </tbody>
  </table>
</section>



{% endblock %}