{% extends '_base.html' %}
{% block body_class %}invoice-page{% endblock %}

{% block header %}
<header class="small-header">
<div class="row expanded collapse">
  <div class="column large-8">
    <h1><a href="./">Invoice App</a></h1>
  </div>
  <div class="column large-4">
    <nav class="top-nav"><a class="button button--naked" href="./user-index.html">Login</a><a class="button button--naked" href="./register.html">Register</a></nav>
  </div>
</div>
</header>
<div class="invoice-controls">
  <i class="invoice-controls__button">file_download</i>
  <i class="invoice-controls__button">save</i>
  <i class="invoice-controls__button">clear</i>
</div>
{% endblock %}

{% block data %}
{# Setting the Companies in this invoice #}
{% set company = companies[1] %}
{% set client = clients[1] %}
{% set invoice = invoices[4] %}

{% endblock %}

{% block content %}

<article class="invoice">
  <header class="invoice__header">
    <div class="invoice__branding">
      {% if company.logo %}<img class="company-logo" src="./images/{{company.logo}}" alt="">{% else %} <h2>{{company.name}}</h2>{% endif %}
      <h1>Invoice <span class="editable" contenteditable>#201604</span></h1>
    </div>
    <div class="client-info">
      <div class="row large-collapse">
        <div class="large-12 column">
          <h2>To <span class="editable" contenteditable>{{client.name}}</span></h2>
        </div>
        <div class="large-6 column">
          {% if client.vendor_number %}<p class="editable" contenteditable>{{client.vendor_number}}</p>{% endif %}
          {% if client.contact %}<p class="editable" contenteditable>{{client.contact}}</p>{% endif %}
          {% if client.email %}<p class="editable" contenteditable>{{client.email}}</p>{% endif %}
          {% if client.phone %}<p class="editable" contenteditable>{{client.phone}}</p>{% endif %}
          {% if client.fax %}<p class="editable" contenteditable>{{client.fax}}</p>{% endif %}    
        </div>
        <div class="large-6 column">
          <h4>Address</h4>
          {% if client.address %}<p class="editable" contenteditable>{{client.address}}</p>{% endif %}
          {% if client.city or client.state or client.country %}<p><span class="editable" contenteditable>{{client.city}}</span>, <span class="editable" contenteditable>{{client.state}}</span>, <span class="editable" contenteditable>{{client.country}}</span></p>{% endif %}    
        </div>
      </div>
    </div>
    <div class="company-info">
  
      <div class="row large-collapse">
        <div class="large-12 column"><h2>From <span class="editable" contenteditable>{{company.name}}</span></h2></div>
        <div class="large-6 column">
          {% if company.contact %}<p class="editable" contenteditable>{{company.contact}}</p>{% endif %}
          {% if company.email %}<p class="editable" contenteditable>{{company.email}}</p>{% endif %}
          {% if company.phone %}<p class="editable" contenteditable>{{company.phone}}</p>{% endif %}
          
          {% if company.address or company.city or company.state or company.country %}
            <h4 class="spaced">Address</h4>      
            {% if company.address %}<p class="editable" contenteditable>{{company.address}}</p>{% endif %}
            {% if company.city or company.state or company.country %}<p><span class="editable" contenteditable>{{company.city}}</span>, <span class="editable" contenteditable>{{company.state}}</span>, <span class="editable" contenteditable>{{company.country}}</span></p>{% endif %}
          {% endif %}  
          
          <div class="company-info__extra">
          {% if company.gov_registries %}
            <h4 class="spaced">Government Registration</h4>
            <table>
            {% for i in company.gov_registries %}
              <tr>
                <td class="editable" contenteditable>{{i.name}}</td><td class="editable" contenteditable>{{i.value}}</td><td class="editable" contenteditable>{{i.tax}}</td></td>
              </tr>
            {% endfor %}
            <tr class="invoice__interface">
              <td class="editable" contenteditable><i class="invoice__button invoice__button--small material-icons" contenteditable="false">add</i>Registry</td><td class="editable" contenteditable>Number</td><td class="editable" contenteditable>Tax %</td></td>
            </tr>
            </table>
          {% endif %}
          </div>
        </div>
        <div class="large-6 column">
          <div class="company-info__extra">
            {% if company.bank_info %}
            <h4>Banking Information</h4>
            <p class="editable" contenteditable>{{company.bank_info | safe}}</p>
            {% endif %}
          </div>
        </div>

        </div>
      </div>
  </header>

  <section class="invoice__summary">
    <p class="invoice__title editable" contenteditable>{{invoice.service_title}}</p>

    <p class="invoice__description editable" contenteditable>{{invoice.service_description}}</p>
    {% if client.calculate_tax or invoice.calculate_tax %}
      <table class="invoice__total">
        <tbody>
          <tr>
            <td>{{invoice.service_title}}</td><td class="editable" contenteditable>{{invoice.amount}}</td>
          </tr>
          {% for i in company.gov_registries %}
            {% if i.tax %}
              <tr>
                <td>{{i.name}}</td><td>{{invoice.amount * i.tax | round(2) }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr class="invoice__grand-total">
            <td>Total</td>
            <td class="invoice__amount" >{% if invoice.currency %} {{ invoice.currency }} {% elif client.currency %} {{ client.currency }} {% else %} {{ company.currency }} {% endif %} {{invoice.amount * 1.15 | round(2)}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
    {% else %}

    <table class="invoice__total">
        <tbody>
          <tr class="invoice__grand-total">
            <td>Total</td>
            <td class="invoice__amount" >{% if invoice.currency %} {{ invoice.currency }} {% elif client.currency %} {{ client.currency }} {% else %} {{ company.currency }} {% endif %} {{invoice.amount}}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    
  </section>
  <footer class="invoice__footer" class="clearfix">
    <p class="invoice__date editable" contenteditable>{{invoice.date}}</p>
  </footer>
</article>

{% if invoice.timesheet %}
{# =========================== #}
<div class="page-break"></div>
{# =========================== #}

<article class="invoice">
  <div class="invoice__branding">
    {% if company.logo %}<img class="company-logo" src="./images/{{company.logo}}" alt="">{% else %} <h2>{{company.name}}</h2>{% endif %}
    <h1>Invoice <span class="editable" contenteditable>#201604</span></h1>
  </div>
  <h2 class="invoice__timesheet-title">Hour Breakdown</h2>
  <section class="invoice__summary">


    <table class="timesheet">
      <thead>
        <th class="description">Description</th>
        <th class="start">Date</th>
        <th class="duration">Duration</th>
        <th class="amount">Amount</th>
      </thead>
      {% for i in invoice.timesheet %}
        <tr>
          <td class="description">{{i.Description}}</td>
          <td class="start">{{i.Start_date}}</td>
          <td class="duration">{{i.Duration}}</td>
          <td class="amount">{{i.Amount}}</td>
        </tr>
      {% endfor %}  
    </table>
  </section>
  <footer class="invoice__footer" class="clearfix">
    <p class="invoice__date editable" contenteditable>{{invoice.date}}</p>
  </footer>
</article>
{% else %}
<div class="row">
  <div class="column large-12" style="text-align: center; margin-bottom: 40px;">
    <div class="button">Upload Timesheet CSV</div>
  </div>
</div>
{% endif %}



{% endblock %}
