<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Invoice App - Interface 0.1{% endblock %}</title>

        <script src="https://use.typekit.net/ioh1apd.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% assets "scss_all" %}
          <link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      <div class="panels">
        <div class="panels__aside">
          <header class="homepage-header no-print">
            <h1 class="homepage-header__logo"><a href="{{ url_for('index') }}">Invoic.io</a></h1>

            {% if g.user.is_authenticated %}
              <div class="homepage-header__dashboard">
                <div class="widget">
                  <h2 class="widget__primary-value open">{{ g.user.open_invoices }}</h2>
                  <p class="widget__text">Pending</p>
                  <p class="widget__secondary-value">USD {{ g.user.open_invoices_value }}</p>
                  <!--<p class="widget__secondary-value">CAD 9,000<span>.00</span></p>-->
                  <!--<p class="widget__secondary-value">BRL 12,000<span>.00</span></p>-->
                  {# <p class="widget__control">This Month</p> #}
                </div>
                <div class="widget">
                  <h2 class="widget__primary-value paid">{{ g.user.paid_invoices }}</h2>
                  <p class="widget__text">Received</p>
                  <p class="widget__secondary-value">USD {{ g.user.paid_invoices_value }}</p>
                  <!--<p class="widget__secondary-value">CAD 9,000<span>.00</span></p>-->
                  <!--<p class="widget__secondary-value">BRL 12,000<span>.00</span></p>-->
                  {# <p class="widget__control">This Month</p> #}
                </div>
              </div>

              <div class="homepage-header__extra">
                <a href="#" class="logged-in">{{ g.user.name }}</a>
                <a href="{{ url_for('logout') }}" class="logout">Logout</a>
              </div>

            {% else %}
              <div class="homepage-header__extra">
                <a class="button button--naked" href="{{url_for('github_login')}}">Login</a>
              </div>
            {% endif %}
          </header>
        </div>

        <div class="panels__main">
          {% block content %}{% endblock %}
        </div>
      </div>
        <div id="overlay" class="js-overlay"></div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
        <script src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

          {% if g.user.is_authenticated %}
            <script src="{{ url_for('.static', filename='js/jquery.autocomplete.min.js') }} "></script>
            <script src="{{ url_for('.static', filename='js/scripts.js') }}"></script>
          {% else %}
            <script src="{{ url_for('.static', filename='js/unlogged.js') }}"></script>
            <script src="{{ url_for('.static', filename='js/papaparse.js') }}"></script>
          {% endif %}
    </body>
</html>
