<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>{% block title %}Invoicer App - Beta{% endblock %}</title>

      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59733580-3', 'auto');
        ga('send', 'pageview');
      </script>
      <!-- End Google Analytics -->

      <script src="https://use.typekit.net/ioh1apd.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel=stylesheet type="text/css" href="{{ url_for('.static', filename='css/custom-styles.css') }}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
      <div class="panels">
        <div class="panels__aside">
          <header class="homepage-header no-print">
            <h1 class="homepage-header__logo"><a href="{{ url_for('index') }}">Invoicer</a></h1>

            {% if g.user.is_authenticated %}
              <div class="homepage-header__dashboard">
                <div class="widget">
                  <h2 class="widget__primary-value open">{{ g.user.open_invoices }}</h2>
                  <p class="widget__text">Pending</p>
                  <p class="widget__secondary-value open">USD {{ g.user.open_invoices_value }}</p>
                </div>
                <div class="widget">
                  <h2 class="widget__primary-value paid">{{ g.user.paid_invoices }}</h2>
                  <p class="widget__text">Received</p>
                  <p class="widget__secondary-value paid">USD {{ g.user.paid_invoices_value }}</p>
                </div>
              </div>
              <div class="spacer">&nbsp;</div>
              <div class="homepage-header__extra">
                <a href="#" class="logged-in">{{ g.user.name }}</a>
                <a href="{{ url_for('logout') }}" class="logout">Logout</a>
              </div>

            {% else %}
              <div class="homepage-header__extra">
                <a class="button button--naked" href="{{url_for('github_login')}}">Login</a>
              </div>
            {% endif %}
          </header>
        </div>

        <div class="panels__main">
          {% block content %}{% endblock %}
        </div>
      </div>
        <div id="overlay" class="js-overlay"></div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
        <script src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

          {% if g.user.is_authenticated %}
            <script src="{{ url_for('.static', filename='js/jquery.autocomplete.min.js') }}"></script>
            <script src="{{ url_for('.static', filename='js/scripts.js') }}"></script>
            <script src="{{ url_for('.static', filename='js/papaparse.js') }}"></script>
          {% else %}
            <script src="{{ url_for('.static', filename='js/unlogged.js') }}"></script>
            <script src="{{ url_for('.static', filename='js/papaparse.js') }}"></script>
          {% endif %}
    </body>
</html>
