{% extends 'base.html' %}

{% block body_class %}client-list-page{% endblock %}

{% block content %}
  <div class="wrapper">
    {# Side buttons #}
    <div class="main-controls no-print">
      <a href="{{ url_for('new_invoice') }}" class="main-controls__button" title="New Invoice"><i>description</i></a>
      <a href="{{ url_for('clients') }}" class="main-controls__button" title="Client List"><i>people</i></a>
      <a href="{{ url_for('company') }}" class="main-controls__button" title="Company"><i>business</i></a>
    </div>
    {# End side buttons #}

    {# New client form #}
    <div class="new-client">
      <form action="{{ url_for('create_client') }}" method="post" class="form">
        <h2>New Client</h2>
        <div class="grid-row">
          <div class="grid-half">
            <input type="text" name="client_name" placeholder="Client Name" class="base-field">
            <input type="text" name="contact_name" placeholder="Contact Person" class="base-field">
            <input type="text" name="email" placeholder="Contact Email" class="base-field">
            <input type="text" name="phone" placeholder="Contact Phone" class="base-field">
          </div>
          <div class="grid-half">
            <input type="text" name="vendor_number" placeholder="Your vendor number with this client" class="base-field">
            <input type="text" name="currency" placeholder="Currency" class="base-field">
            <textarea class="base-field-textarea" name="address" placeholder="Client Address"></textarea>
            <button class="button" type="submit">Add client</button>
          </div>
        </div>
      </form>
    </div>
    {# End new client form #}
  </div>

  {# Client's list #}
  <div class="client-list wrapper">
    <table class="list list--opened">
      <thead>
        <th></th>
        <th>Name</th>
        <th class="list__align-center">Pending</th>
        <th class="list__amount">Amount</th>
        <th></th>
      </thead>
      <tbody>
        {% for client in clients %}
          {% include 'client_table_row.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {# End client's list #}
{% endblock %}
