{% extends 'base.html' %}

{% block body_class %}company-page{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="main-controls no-print">
      <form method="post" action="{{ url_for('create_invoice') }}"><button type="submit" class="main-controls__button" title="New Invoice"><i>description</i></button></form>
      <a href="{{ url_for('clients') }}" class="main-controls__button" title="Client List"><i>people</i></a>
    </div>

    <div class="new-company">
      <form method="post" class="form">
        <h2>Company Information</h2>
        <input type="text" name="company_name" placeholder="Company Name" class="base-field" value="{{ company.name }}">
        <input type="text" name="contact_name" placeholder="Contact Person" class="base-field" value="{{ company.contact }}">
        <input type="text" name="email" placeholder="Contact Email" class="base-field" value="{{ company.email }}">
        <input type="text" name="phone" placeholder="Contact Phone" class="base-field" value="{{ company.phone }}">
        <input type="text" name="invoice_num" placeholder="Current Invoice Number" class="base-field" value="{{ company.current_invoice_num }}">
        <textarea class="base-field-textarea" name="address" placeholder="Company Address" value="{{ company.address }}">{{ company.address }}</textarea>
        <textarea class="base-field-textarea" name="banking" placeholder="Banking Information" value="{{ company.banking_info }}">{{ company.banking_info }}</textarea>

        <!--<div class="add-gov-registry">
          <h3>Add Government Registries and Trade Taxes</h3>
          <div class="contextual-controls">
            <span class="add-button contextual-controls__button invoice__button" title="Add Registration"><i class=" material-icons">add</i></span>
          </div>
          <table class="table-list-add">
            <tr class="edit-tax">
              <td>
                <input type="hidden" name="id" value=""/>
                <input class="name base-field small" name="name" placeholder="Register" value=""/>
              </td>
              <td><input class="base-field small" name="number" placeholder="Number" value=""/></td>
              <td><input class="base-field small" name="tax" placeholder="Tax % (i.e. 0.12)" value=""/></td></td>
            </tr>

            <tr id="create-tax">
              <td><input class="name base-field small" name="name" placeholder="Register"/></td>
              <td><input class="base-field small" name="number" placeholder="Number"/></td>
              <td><input class="base-field small" name="tax" placeholder="Tax % (i.e. 0.12)"/></td></td>
            </tr>
          </table>
        </div>-->
        <button class="button" type="submit">Save</button>
      </form>
    </div>

  </div>
{% endblock %}