{% extends 'base.html' %}

{% block body_class %}home-page{% endblock %}

{% block content %}
  <section class="main-list wrapper">
    <div class="main-controls no-print">
      <a href="{{ url_for('new_invoice') }}" class="main-controls__button" title="New Invoice"><i>description</i></a>
      <a href="{{ url_for('clients') }}" class="main-controls__button" title="Client List"><i>people</i></a>
      <a href="{{ url_for('company') }}" class="main-controls__button" title="Company"><i>business</i></a>
    </div>

    <table class="list list--opened">
      <thead>
        <th class="list__action"></th>
        <th>#</th>
        <th>Date</th>
        <th>Client</th>
        <th>Title</th>
        <th class="list__amount">Amount</th>
        <th class="list__action"></th>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          {% if not invoice.paid %}
            {% include 'home_table_row.html' %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h1 class="divider">Paid Invoices</h1>
    <table class="list list--archived">
      <thead>
        <th></th>
        <th>#</th>
        <th>Date</th>
        <th>Client</th>
        <th>Title</th>
        <th class="list__amount">Amount</th>
        <th class="list__action"></th>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          {% if invoice.paid %}
            {% include 'home_table_row.html' %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
