<h4 class="spaced">Government Registration</h4>
<table>
  {% for i in taxes %}
    <tr class="edit-tax invoice__interface" data-url="{{ url_for('edit_invoice_tax', invoice_id=invoice.id) }}">
      <td>
        <input type="hidden" name="id" value="{{ i.id }}"/>
        <input class="name base-field small" name="name" placeholder="Register" value="{{ i.name }}"/>
      </td>
      <td><input class="base-field small" name="number" placeholder="Number" value="{{ i.number }}"/></td>
      <td><input class="base-field small" name="tax" placeholder="Tax %" value="{{ i.tax }}"/></td></td>
    </tr>
  {% endfor %}

  <tr class="invoice__interface" id="create-tax" data-url="{{ url_for('create_invoice_tax', invoice_id=invoice.id) }}">
    <td><i class="invoice__button invoice__button--small material-icons add-button">add</i><input class="name base-field small" name="name" placeholder="Register"/></td>
    <td><input class="base-field small" name="number" placeholder="Number"/></td>
    <td><input class="base-field small" name="tax" placeholder="Tax %"/></td></td>
  </tr>
</table>
