<form id="company-form" method="post" action="{{ url_for('edit_invoice_company', invoice_id=invoice.id) }}">
  <div class="grid-row">
    <input id="#company-id" type="hidden" name="id" value="{{ company.id }}"/>

    <div class="grid-full"><h2>From <input id="company-autocomplete" type="text" class="name" name="name" placeholder="Company Name" value="{{ company.name }}" data-url="{{ url_for('get_companies', invoice_id=invoice.id) }}" autocomplete="off"/></h2></div>
  </div>
  <div class="grid-row">
    <div class="grid-half">
      <input type="text" class="base-field" name="contact" placeholder="Contact Person Name" value="{{ company.contact }}"/>
      <input type="text" class="base-field" name="email" placeholder="Contact Email" value="{{ company.email }}"/>
      <input type="text" class="base-field" name="phone" placeholder="Contact Phone" value="{{ company.phone }}"/>

      <h4 class="spaced">Address</h4>
      <textarea name="address" placeholder="Company Address, City, State, Country">{{ company.address }}</textarea>
    </div>

    <div class="grid-half">
      <div class="company-info__extra">
        <h4>Banking Information</h4>
        <textarea class="bank-info" name="banking_info" placeholder="Banking Information for Deposit">{{ company.banking_info }}</textarea>
      </div>
    </div>
  </div>
</form>
<div class="grid-row">
  <div class="grid-half">
    <div class="tax-info">
      {% include 'invoice_tax.html' %}
    </div>
  </div>
</div>
