{% extends 'base.html' %}
{% block body_class %}invoice-page{% endblock %}

{% block content %}
<div class="controls">
  <a class="controls__button" href="#" title="Download PDF"><i>file_download</i></a>
  {# <a class="controls__button" href="#" title="Save Draft"><i>save</i></a> #}
  {# <a class="controls__button" href="#" title="Clear Invoice"><i>clear</i></a> #}
</div>

<article class="invoice" data-invoice-id="{{ invoice.id }}"  data-url="{{ url_for('edit_invoice', invoice_id=invoice.id) }}">
  <header class="invoice__header">
    <div class="invoice__branding">
      {% if company %}
        {% if company.logo %}<img class="company-logo" src="./images/{{company.logo}}" alt="">{% endif %}
        <h2>{{company.name}}</h2>
      {% endif %}
      <h1>Invoice <input type="text" class="edit-invoice-input" name="tag_number" placeholder="#{{ invoice.tag_number }}" value="{{ invoice.tag_number }}"/></h1>
    </div>
    <div class="client-info">
      {% include 'invoice_client.html' %}
      {% include 'invoice_company.html' %}
    </div>
  </header>

  <section class="invoice__summary">
    <input type="text" class="edit-invoice-input" name="service_name" placeholder="Services" value="{{ invoice.service_name }}"/>
    <input type="text" class="edit-invoice-input" name="service_description" placeholder="description" value="{{ invoice.service_description }}"/>

    <div class="service-info">
        {% include 'invoice_service.html' %}
    </div>
  </section>
  <footer class="invoice__footer clearfix">
    <p class="invoice__date editable" contenteditable>{{invoice.date}}</p>
  </footer>
</article>

{% if invoice.timesheet %}
  {# =========================== #}
  <div class="page-break"></div>
  {# =========================== #}

  <article class="invoice">
    <div class="invoice__branding">
      {% if company.logo %}<img class="company-logo" src="./images/{{company.logo}}" alt="">{% else %} <h2>{{company.name}}</h2>{% endif %}
      <h1>Invoice <span class="editable" contenteditable>#201604</span></h1>
    </div>
    <h2 class="invoice__timesheet-title">Hour Breakdown</h2>
    <section class="invoice__summary">


      <table class="timesheet">
        <thead>
          <th class="description">Description</th>
          <th class="start">Date</th>
          <th class="duration">Duration</th>
          <th class="amount">Amount</th>
        </thead>
        {% for i in invoice.timesheet %}
          <tr>
            <td class="description">{{i.Description}}</td>
            <td class="start">{{i.Start_date}}</td>
            <td class="duration">{{i.Duration}}</td>
            <td class="amount">{{i.Amount}}</td>
          </tr>
        {% endfor %}
      </table>
    </section>
    <footer class="invoice__footer" class="clearfix">
      <p class="invoice__date editable" contenteditable>{{invoice.date}}</p>
    </footer>
  </article>

{% else %}
  <div class="row">
    <div class="column large-12" style="text-align: center; margin-bottom: 40px;">
      <div class="button">upload Timesheet CSV</div>
    </div>
  </div>
{% endif %}



{% endblock %}
