<div class="contextual-controls no-print">
  <a href="{{ url_for('company') }}" target="_blank" class="contextual-controls__button" title="Edit Company"><i class="material-icons">edit</i></a>
</div>

<form id="company-form" method="post" action="{{ url_for('set_invoice_company', invoice_id=invoice._id) }}">
  <div class="grid-row">
    <input id="#company-id" type="hidden" name="id" value="{{ invoice.company._id }}"/>
    <div class="grid-full"><h2>From <input id="company-autocomplete" type="text" class="name" name="name" placeholder="Company Name" value="{{ invoice.company.name }}" data-url="{{ url_for('get_companies', invoice_id=invoice._id) }}" autocomplete="off"/></h2></div>
  </div>
  <div class="grid-row">
    <div class="grid-half">
      <input type="text" class="base-field" name="contact" placeholder="Contact Person Name" value="{{ invoice.company.contact }}"/>
      <input type="text" class="base-field" name="email" placeholder="Contact Email" value="{{ invoice.company.email }}"/>
      <input type="text" class="base-field" name="phone" placeholder="Contact Phone" value="{{ invoice.company.phone }}"/>

      <h4 class="spaced">Address</h4>
      <textarea name="address" placeholder="Company Address, City, State, Country">{{ invoice.company.address }}</textarea>
    </div>

    <div class="grid-half">
      <div class="company-info__extra">
        <h4>Banking Information</h4>
        <textarea class="bank-info" name="banking_info" placeholder="Banking Information for Deposit">{{ invoice.company.banking_info }}</textarea>
      </div>
    </div>
  </div>
</form>
{% if invoice.company and invoice.company.taxes %}
  <div class="grid-row">
    <div class="grid-half">
      <div class="tax-info">
        {% include 'invoice_tax.html' %}
      </div>
    </div>
  </div>
{% endif %}